# Azure AI Foundry project endpoint
AZURE_AI_ENDPOINT="https://bhargav31-resource.services.ai.azure.com/api/projects/bhargav31"

# Azure OpenAI endpoint
AZURE_OPENAI_ENDPOINT="https://bhargav31-resource.openai.azure.com/openai/v1"

# Azure API key
AZURE_AI_API_KEY=""

# Agent reference in Azure AI Foundry
AZURE_AI_AGENT_NAME="AI-Study-Assistant"
AZURE_AI_AGENT_VERSION="2"
